In [1]:
import cutecharts.charts as cute
import pandas as pd
import numpy as np
import os

#exploring the dataset to see what we can use
books = pd.read_csv("datasets\children_books.csv")

print (f"There are {books['Title'].nunique()} unique books in the {books['Title'].count()} records.")
print("----------------------------")
print(books.info())

There are 41 unique books in the 3269 records.
----------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3269 entries, 0 to 3268
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        3269 non-null   object
 1   Author       3096 non-null   object
 2   Desc         3269 non-null   object
 3   Inerest_age  3269 non-null   object
 4   Reading_age  3269 non-null   object
dtypes: object(5)
memory usage: 127.8+ KB
None

It seems like there are only 41 unique books in the children books dataset despite having 3269 rows of data with some Author data missing.
Let's explore if the different unique books have have different meaningful data on the other columns.

In [2]:
#I will use a few unique title to explore further
books['Title'].unique()

array(['The Girl Who Drank the Moon', 'Time Between Us',
       'Girl Out of Water', 'Captive', 'The School of Music',
       'The Crystal Stair', 'Dark Inside', 'Kite Spirit',
       'I Capture the Castle', 'Butter', 'Dead Jealous',
       'A Flash of Blue', 'Jet Black Heart', "The Sin Eater's Daughter",
       'King Lear - Manga Shakespeare', 'Frankenstein',
       'The Song from Somewhere Else', "Amy & Roger's Epic Detour",
       'The Changes Trilogy', 'The Train to Impossible Places',
       'Half Brother', 'Holding Up the Universe', 'Pop-Up Frankenstein',
       'Mister Creecher', 'The Complete Calvin and Hobbes',
       "Don't Pick on Me!", 'Five Hundred Miles', 'Rules for a Knight',
       'Paper Avalanche', 'Ghost World', 'Invictus',
       'The Name of the Star', 'Spy for the Queen of Scots',
       'Jimmy Corrigan:', 'The Martian Girl', 'Buffalo Soldier',
       'Witchstruck', 'Flyaway', 'Etiquette and Espionage',
       'The Sky is Everywhere', 'Glass Sword'], dtype=object)

In [3]:
example_one = books[books['Title']=='Time Between Us']
example_one

,Title,Author,Desc,Inerest_age,Reading_age
1,Time Between Us,Tamara Ireland Stone,Sixteen-year-old Anna is struggling to underst...,13+,12+
38,Time Between Us,Tamara Ireland Stone,Sixteen-year-old Anna is struggling to underst...,13+,12+
75,Time Between Us,Tamara Ireland Stone,Sixteen-year-old Anna is struggling to underst...,13+,12+
112,Time Between Us,Tamara Ireland Stone,Sixteen-year-old Anna is struggling to underst...,13+,12+
158,Time Between Us,Tamara Ireland Stone,Sixteen-year-old Anna is struggling to underst...,13+,12+
...,...,...,...,...,...
3088,Time Between Us,Tamara Ireland Stone,Sixteen-year-old Anna is struggling to underst...,13+,12+
3123,Time Between Us,Tamara Ireland Stone,Sixteen-year-old Anna is struggling to underst...,13+,12+
3160,Time Between Us,Tamara Ireland Stone,Sixteen-year-old Anna is struggling to underst...,13+,12+
3197,Time Between Us,Tamara Ireland Stone,Sixteen-year-old Anna is struggling to underst...,13+,12+
3233,Time Between Us,Tamara Ireland Stone,Sixteen-year-old Anna is struggling to underst...,13+,12+

In [4]:
example_two = books[books['Title']=='Butter']
example_two

,Title,Author,Desc,Inerest_age,Reading_age
9,Butter,Erin Jade Lange,"Isolated and bullied at school, with a dysfunc...",13+,13+
46,Butter,Erin Jade Lange,"Isolated and bullied at school, with a dysfunc...",13+,13+
83,Butter,Erin Jade Lange,"Isolated and bullied at school, with a dysfunc...",13+,13+
120,Butter,Erin Jade Lange,"Isolated and bullied at school, with a dysfunc...",13+,13+
166,Butter,Erin Jade Lange,"Isolated and bullied at school, with a dysfunc...",13+,13+
...,...,...,...,...,...
3095,Butter,Erin Jade Lange,"Isolated and bullied at school, with a dysfunc...",13+,13+
3131,Butter,Erin Jade Lange,"Isolated and bullied at school, with a dysfunc...",13+,13+
3168,Butter,Erin Jade Lange,"Isolated and bullied at school, with a dysfunc...",13+,13+
3205,Butter,Erin Jade Lange,"Isolated and bullied at school, with a dysfunc...",13+,13+
3241,Butter,Erin Jade Lange,"Isolated and bullied at school, with a dysfunc...",13+,13+

In [5]:
example_three = books[books['Title']=='The Train to Impossible Places']
example_three

,Title,Author,Desc,Inerest_age,Reading_age
19,The Train to Impossible Places,P.G. Bell Illustrator: Flavia Sorrentino,Suzy Smith is very surprised when a huge magic...,10-12,10-12
56,The Train to Impossible Places,P.G. Bell Illustrator: Flavia Sorrentino,Suzy Smith is very surprised when a huge magic...,10-12,10-12
93,The Train to Impossible Places,P.G. Bell Illustrator: Flavia Sorrentino,Suzy Smith is very surprised when a huge magic...,10-12,10-12
130,The Train to Impossible Places,P.G. Bell Illustrator: Flavia Sorrentino,Suzy Smith is very surprised when a huge magic...,10-12,10-12
176,The Train to Impossible Places,P.G. Bell Illustrator: Flavia Sorrentino,Suzy Smith is very surprised when a huge magic...,10-12,10-12
...,...,...,...,...,...
3105,The Train to Impossible Places,P.G. Bell Illustrator: Flavia Sorrentino,Suzy Smith is very surprised when a huge magic...,10-12,10-12
3141,The Train to Impossible Places,P.G. Bell Illustrator: Flavia Sorrentino,Suzy Smith is very surprised when a huge magic...,10-12,10-12
3178,The Train to Impossible Places,P.G. Bell Illustrator: Flavia Sorrentino,Suzy Smith is very surprised when a huge magic...,10-12,10-12
3215,The Train to Impossible Places,P.G. Bell Illustrator: Flavia Sorrentino,Suzy Smith is very surprised when a huge magic...,10-12,10-12
3251,The Train to Impossible Places,P.G. Bell Illustrator: Flavia Sorrentino,Suzy Smith is very surprised when a huge magic...,10-12,10-12

Upon exploring 3 examples, the titles are repeated with all the the other columns having no unique value.
Thus having multiple repeated rows is not meaningful.
I will now proceed to keep only those that are unique.

In [6]:
#to drop the books with no Author data
books.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=False)

books

,Title,Author,Desc,Inerest_age,Reading_age
0,The Girl Who Drank the Moon,Kelly Barnhill,"Every year, the evil Protectorate offers a bab...",10-14,10-14
1,Time Between Us,Tamara Ireland Stone,Sixteen-year-old Anna is struggling to underst...,13+,12+
2,Girl Out of Water,Nat Luurtsema,Lou Brown's swimming ambitions sank without tr...,13-18,10+
3,Captive,A J Grainger,Robyn is scared. Ever since the attempted assa...,13+,13
4,The School of Music,Rachel Bowen and Meurig Bowen Illustrator: Dan...,Welcome to the School of Music. In charge is M...,10+,10+
5,The Crystal Stair,Catherine Fisher,The Crystal Stair picks up after At the Worldâ€™...,12+,8+
6,Dark Inside,Jeyn Roberts,After a huge earthquake strikes every continen...,14+,10+
7,Kite Spirit,Sita Brahmachari,"When her best friend Dawn commits suicide, Kit...",13+,12+
8,I Capture the Castle,Dodie Smith,"Originally published in 1949, this delightful ...",12+,12+
9,Butter,Erin Jade Lange,"Isolated and bullied at school, with a dysfunc...",13+,13+
10,Dead Jealous,Sharon Jones,When Poppy Sinclair finds the body of a young ...,13+,13+
11,A Flash of Blue,Maria Farrer,Since Amber's eighteen year old brother Liam d...,13-15,10+
12,Jet Black Heart,Teresa Flavin,Dory is having a boring family holiday in a sm...,11+,11+
13,The Sin Eater's Daughter,Melinda Salisbury,Seventeen-year-old Twylla lives in the castle ...,14+,14+
14,King Lear - Manga Shakespeare,William Shakespeare,"The story of Lear, the old chieftain, who divi...",11+,11+
15,Frankenstein,Mary Shelley,Obsessed with the idea of rivalling God and cr...,13+,13+
16,The Song from Somewhere Else,AF Harrold\nIllustrator: Levi Pinfold,"Frank is being bullied - for what, she's not s...",8+,8+
17,Amy & Roger's Epic Detour,Morgan Matson,Amy Curryâ€™s life is a disaster. Her father rec...,12+,12+
18,The Changes Trilogy,Peter Dickinson,"Gripped by a strange fear, England closes its ...",14+,13+
19,The Train to Impossible Places,P.G. Bell Illustrator: Flavia Sorrentino,Suzy Smith is very surprised when a huge magic...,10-12,10-12
20,Half Brother,Kenneth Oppel,Oppel bases his first YA novel on projects in ...,11+,9+
21,Holding Up the Universe,Jennifer Niven,Jennifer Niven's deeply compelling and highly ...,14+,12+
22,Pop-Up Frankenstein,Claire Hawcock (adapted from Mary Shelley) Ill...,Frankenstein tells the story of a privileged a...,9+,9+
23,Mister Creecher,Chris Priestley,"Billy is a street urchin, pickpocket and petty...",12+,11+
24,The Complete Calvin and Hobbes,NaN,"The comic-strip adventures of Calvin, a naught...",9+,8+
25,Don't Pick on Me!,Rosemary Stones,Practical advice for children on how to handle...,9+,9+
26,Five Hundred Miles,Kevin Brooks,"In the industrial wastelands of east London, t...",13+,9+
27,Rules for a Knight,Ethan Hawke Illustrator: Ryan Hawke,"On the eve of battle, Sir Thomas Lemuel Hawke ...",7+,10+
28,Paper Avalanche,Lisa Williamson,Fourteen-year-old Ro Snowâ€™s got a secret: her ...,12+,12+
29,Ghost World,Daniel Clowes,Daniel Clowes is able to tell brilliant storie...,13+,13+
30,Invictus,Ryan Graudin,"Farway Gaius McCarthy was born in the future, ...",11+,11+
31,The Name of the Star,Maureen Johnson,Louisiana teenager Rory is embarking on a new ...,13+,13+
32,Spy for the Queen of Scots,Theresa Breslin,"Beautiful young aristocrat Ginette, known as J...",12+,12+
33,Jimmy Corrigan:,Chris Ware,This extraordinary graphic novel is so obvious...,14+,14+
34,The Martian Girl,NaN,"Following on from the brilliant Lost on Mars, ...",10+,10+
35,Buffalo Soldier,Tanya Landman,Plantation slave Charley Smith is eleven when ...,13+,11+
36,Witchstruck,Victoria Lamb,The future Elizabeth I has been imprisoned by ...,12+,12+
148,Flyaway,Lucy Christopher,Isla embarks on an art project to make a flyin...,12+,11+
149,Etiquette and Espionage,Gail Carriger,Sophronia is horrified when her mother decides...,11+,11+
150,The Sky is Everywhere,Jandy Nelson,Grief has turned Lennie's world upside down - ...,13+,12+
151,Glass Sword,Victoria Aveyard,Mare Barrow knows she is different. Her blood ...,13-18,11+

In [7]:
books.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

books.reset_index(drop=True, inplace=True)
books

,Title,Author,Desc,Inerest_age,Reading_age
0,The Girl Who Drank the Moon,Kelly Barnhill,"Every year, the evil Protectorate offers a bab...",10-14,10-14
1,Time Between Us,Tamara Ireland Stone,Sixteen-year-old Anna is struggling to underst...,13+,12+
2,Girl Out of Water,Nat Luurtsema,Lou Brown's swimming ambitions sank without tr...,13-18,10+
3,Captive,A J Grainger,Robyn is scared. Ever since the attempted assa...,13+,13
4,The School of Music,Rachel Bowen and Meurig Bowen Illustrator: Dan...,Welcome to the School of Music. In charge is M...,10+,10+
5,The Crystal Stair,Catherine Fisher,The Crystal Stair picks up after At the Worldâ€™...,12+,8+
6,Dark Inside,Jeyn Roberts,After a huge earthquake strikes every continen...,14+,10+
7,Kite Spirit,Sita Brahmachari,"When her best friend Dawn commits suicide, Kit...",13+,12+
8,I Capture the Castle,Dodie Smith,"Originally published in 1949, this delightful ...",12+,12+
9,Butter,Erin Jade Lange,"Isolated and bullied at school, with a dysfunc...",13+,13+
10,Dead Jealous,Sharon Jones,When Poppy Sinclair finds the body of a young ...,13+,13+
11,A Flash of Blue,Maria Farrer,Since Amber's eighteen year old brother Liam d...,13-15,10+
12,Jet Black Heart,Teresa Flavin,Dory is having a boring family holiday in a sm...,11+,11+
13,The Sin Eater's Daughter,Melinda Salisbury,Seventeen-year-old Twylla lives in the castle ...,14+,14+
14,King Lear - Manga Shakespeare,William Shakespeare,"The story of Lear, the old chieftain, who divi...",11+,11+
15,Frankenstein,Mary Shelley,Obsessed with the idea of rivalling God and cr...,13+,13+
16,The Song from Somewhere Else,AF Harrold\nIllustrator: Levi Pinfold,"Frank is being bullied - for what, she's not s...",8+,8+
17,Amy & Roger's Epic Detour,Morgan Matson,Amy Curryâ€™s life is a disaster. Her father rec...,12+,12+
18,The Changes Trilogy,Peter Dickinson,"Gripped by a strange fear, England closes its ...",14+,13+
19,The Train to Impossible Places,P.G. Bell Illustrator: Flavia Sorrentino,Suzy Smith is very surprised when a huge magic...,10-12,10-12
20,Half Brother,Kenneth Oppel,Oppel bases his first YA novel on projects in ...,11+,9+
21,Holding Up the Universe,Jennifer Niven,Jennifer Niven's deeply compelling and highly ...,14+,12+
22,Pop-Up Frankenstein,Claire Hawcock (adapted from Mary Shelley) Ill...,Frankenstein tells the story of a privileged a...,9+,9+
23,Mister Creecher,Chris Priestley,"Billy is a street urchin, pickpocket and petty...",12+,11+
24,Don't Pick on Me!,Rosemary Stones,Practical advice for children on how to handle...,9+,9+
25,Five Hundred Miles,Kevin Brooks,"In the industrial wastelands of east London, t...",13+,9+
26,Rules for a Knight,Ethan Hawke Illustrator: Ryan Hawke,"On the eve of battle, Sir Thomas Lemuel Hawke ...",7+,10+
27,Paper Avalanche,Lisa Williamson,Fourteen-year-old Ro Snowâ€™s got a secret: her ...,12+,12+
28,Ghost World,Daniel Clowes,Daniel Clowes is able to tell brilliant storie...,13+,13+
29,Invictus,Ryan Graudin,"Farway Gaius McCarthy was born in the future, ...",11+,11+
30,The Name of the Star,Maureen Johnson,Louisiana teenager Rory is embarking on a new ...,13+,13+
31,Spy for the Queen of Scots,Theresa Breslin,"Beautiful young aristocrat Ginette, known as J...",12+,12+
32,Jimmy Corrigan:,Chris Ware,This extraordinary graphic novel is so obvious...,14+,14+
33,Buffalo Soldier,Tanya Landman,Plantation slave Charley Smith is eleven when ...,13+,11+
34,Witchstruck,Victoria Lamb,The future Elizabeth I has been imprisoned by ...,12+,12+
35,Flyaway,Lucy Christopher,Isla embarks on an art project to make a flyin...,12+,11+
36,Etiquette and Espionage,Gail Carriger,Sophronia is horrified when her mother decides...,11+,11+
37,The Sky is Everywhere,Jandy Nelson,Grief has turned Lennie's world upside down - ...,13+,12+
38,Glass Sword,Victoria Aveyard,Mare Barrow knows she is different. Her blood ...,13-18,11+

This means I only have 39 Book titles to work with. I will set this aside and explore the other dataset first.

In [8]:
stories = pd.read_csv("datasets\children_stories.csv", encoding = "ISO-8859-1")

print (f"There are {stories['names'].nunique()} unique book names in the {stories['names'].count()} records.")
print("----------------------------")
print(stories.info())

There are 390 unique book names in the 430 records.
----------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   names   430 non-null    object
 1   cats    430 non-null    object
 2   desc    430 non-null    object
dtypes: object(3)
memory usage: 10.2+ KB
None

There are more to work with on the Children stories dataset.
Again, there are 390 unique values out of 430 records. 
Let's see if there are meaningful or duplicated data.

In [9]:
duplicated_stories = stories[stories['names'].duplicated()]
duplicated_stories.sort_values(by=['names'])

,names,cats,desc
211,Alfie Gives a Hand,Age 3+,Shirley Hughes' much-loved Alfie goes to his f...
152,Alfie Outdoors,Age 3+,One sunny day Alfie decides to explore the bot...
207,Baby's Bathtime,Age 0+,"Bold, colourful and great fun, this simple and..."
197,Do You Want To Be My Friend?,Age 3+,'Do you want to be my friend?' Asked just once...
187,Elmer and the Lost Teddy,Age 0+,When Baby Elephant loses his teddy and can't s...
195,Elmer's Friends,Age 0+,A colourful board book in which the ever-popul...
149,Father Christmas,Age 2+,It's December 24th. But for poor Father Christ...
190,From Acorn to Zoo,Age 2+,"This is an alphabet book with a difference, in..."
169,Horton Hears a Who!,Age 3+,"Now a major film, Horton Hears a Who! is a hil..."
130,Hug,Age 0+,Bobo the chimp wanders sadly around the jungle...
192,I Like It When,Age 1-4,The pleasure of parent-child activities like s...
156,I Want My Potty!,Age 2+,"The Little Princess hates nappies, and thinks ..."
178,Incey Wincey Spider,Age 1+,Part of the Sign and Singalong series of brigh...
139,Kipper,Age 2-4,"One day, Kipper the dog finds that he just can..."
143,Kipper's Birthday,Age 2+,Kipper is working hard preparing for his birth...
206,Macavity,Age 3+,Escaped from Old Possum's Book of Practical Ca...
151,Melric and the Sorcerer,Age 4+,"The king wants his magician, Melric, to make h..."
172,Melric the Magician Who Lost His Magic,Age 3+,"Melric, the KingÃ¢Â€Â™s magician, uses his magic ..."
157,Mockingbird Song,Age 0+,Celebrates the love and warmth that surrounds ...
146,Mrs Wobble the Waitress,Age 3-6,Mrs Wobble is a waitress. She loves her job an...
133,My Dad is Brilliant,Age 1+,This dad does everything well: from running li...
65,Nursery Rhymes,Age 0-4,"Large board book of over 20 nursery rhymes, in..."
147,Nursery Rhymes,Age 0+,"Ten beloved nursery rhymes, including 'Humpty ..."
159,Oi! Get Off Our Train,Age 3+,A welcome republication of a thirty-year old m...
182,Owl Babies,Age 3-7,When three baby owls wake up to find their mot...
191,Pat-a-Cake!,Age 0+,"A beautiful, strong, board book\nPart of a ser..."
202,Princess Smartypants,Age 3+,Princess Smartypants does not want to get marr...
153,Quentin Blake's ABC,Age 2+,"A zany rhyming text complements lively, humoro..."
138,Snow Bears,Age 2+,"This gentle, very beautiful picture book is ab..."
163,The Emperors New Clothes,Age 2+,This is a satirical story about a very vain Em...
148,The Further Adventures of the Owl and the Puss...,Age 3+,"At the end of Edward Lear's much loved poem, t..."
298,The Iron Man,Age 9-11,"One day, Hogarth, a child, sights a giant made..."
216,The Snowman,Age 7-10,To mark the 40th anniversary of Raymond Briggs...
194,The Snowman,Age 3+,"James builds a snowman in the garden, then wak..."
193,The Usborne Book of Nursery Rhymes,Age 6months+,Ã¢Â€Â¢ This is a big collection of over forty rhy...
136,We're Going on a Bear Hunt,Age 2+,Follow a father and his family as they go out ...
181,We're Going on a Lion Hunt,Age 3+,A re-telling of a traditional story that will ...
179,"What's the Time, Mr Wolf?",Age 0+,A captivating story of wolves with dinner on t...
180,Window,Age 4+,A mother and a baby look together at the view ...
186,Za-za's Baby Brother,Age 2+,"When Za-za's mum has a baby, it's hard for Za-..."

From the above, its observed that some stories are duplicated with the similar cats and same desc values, with a few just with similar stories name such as "Nursery Rhymes" and "The Snowman".
Before removing the duplicated rows, I would like to explore further on the cats column.

In [10]:
print(f"There are {stories['cats'].nunique()} unique categories")
print("----------------------------")
print(stories['cats'].unique())

There are 59 unique categories
----------------------------
['Age 2-9' 'Age 1-2' 'Age 1-3' 'Age 0-2' 'Age  0-3' 'Age 0-3' 'Age 3-5'
 'Age 0+' 'Age 1-5' 'Age 1-4' 'Age 2-6' 'Age 2-7' 'Age 3-6' 'Age 0-4'
 'Age 2-5' 'Age 4-6' 'Age 0-5' 'Age 2+' 'Age 4+' 'Age 3+' 'Age 3-7'
 'Age 3-4' 'Age 1-6' 'Age 0-6' 'Age 4-7' 'Age 5-8' 'Age 1+' 'Age 5+'
 'Age 4-11' 'Age 2-4' 'Age 4-5' 'Age 4-8' 'Age 6months+' 'Age 6-8'
 'Age 6-11' 'Age 8-12' 'Age 7-10' 'Age 7-12' 'Age 7+' 'Age 5-9' 'Age 6+'
 'Age 7-9' 'Age 8+' 'Age 7-11' 'Age 6-9' 'Age 9-14' 'Age 9-11' 'Age 9+'
 'Age 10+' 'Age 11+' 'Age 13+' 'Age 12+' 'Age ' 'Age 9-13' 'Age 11-14'
 'Age 10-14' 'Age 9-12' 'Age 8-11' 'Age 11-15']

Seeing how there are 59 unique categories, the cats column needs to be cleaned up and categorized accordingly.
I have deviced to go with the guide on https://www.healthychildren.org/English/ages-stages/Pages/default.aspx
where I would then categorize the age groups according to the appropriate stage as follows:
Baby: 0-1 year
Toddler: 1-3 years
Preschool: 3-5 years
Gradeschooler: 5-12 years
Teen: 12-18 years

As there are some age gaps in between, I will take account of the start age and merge Baby and Toddler category into just Toddler.
My Stages column would look like:
Toddler: 0-3 years
Preschool: 3-5 years
Gradeschooler: 5-12 years
Teen: 12-18 years

In [11]:
groups = {'toddler' : ['Age 1-2','Age 1-3','Age 0-2','Age  0-3','Age 0-3','Age 0+', 
              'Age 0-4', 'Age 0-5', 'Age 2+', 'Age 3+','Age 1+','Age 6months+'],
'preschool': ['Age 3-5','Age 1-5','Age 1-4','Age 2-6','Age 3-6','Age 2-5',
                'Age 4-6','Age 4+','Age 3-4','Age 1-6','Age 0-6','Age 2-4','Age 4-5'],
'gradeschool' : ['Age 2-9','Age 2-7','Age 3-7','Age 4-7','Age 5-8','Age 5+', 'Age 4-11'  
                    'Age 4-8','Age 6-8','Age 6-11','Age 8-12','Age 7-10','Age 7-12','Age 7+',
                    'Age 5-9','Age 6+','Age 7-9','Age 8+','Age 7-11','Age 6-9','Age 9-14',
                    'Age 9-11','Age 9+','Age 10+','Age 11+','Age 9-12','Age 8-11'],
'teens': ['Age 13+','Age 12+','Age 9-13','Age 11-14','Age 10-14','Age 11-15'],
}
stories["stage"] = (stories["cats"]
    .apply(lambda x: [key for key in groups.keys() if x in groups[key]])
    .str[0]
    .fillna("allages")
)

In [12]:
stories['stage'].value_counts()

gradeschool    227
toddler        105
preschool       72
teens           20
allages          6
Name: stage, dtype: int64

Now that we have the ages categorized according to stages, I return to look at the duplicated stories. I want to remove all the duplicated stories with the same description

In [13]:
stories.drop_duplicates(subset='desc', inplace=True)

In [14]:
#running this again to see what is left that is duplicated
duplicated_stories = stories[stories['desc'].duplicated()]
duplicated_stories.count()

names    0
cats     0
desc     0
stage    0
dtype: int64

After performing the above, only stories with the same name but different description remains.

In [26]:
#see total rows in the cleaned dataframe
len(stories.index)

393